<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arkaliv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MapView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D10906061B4D7E6E00F40E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10906191B4D7E6E00F40E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D10906241B4D7E6E00F40E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1E444CE1B46BA88000708D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1E444E21B46BA88000708D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1E444ED1B46BA88000708D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
